[Unit]
Description=ip service
After=network.target
StartLimitIntervalSec=5

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/usr/local/bin/iprestore.sh

[Install]
WantedBy=multi-user.target
